::before
::after

html {
    position: relative;
    min-height: 100%;
  }
  
  body {
      margin-bottom: 60px;
  }

  .list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

 
.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 80px;
}